@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

body {
  overflow: hidden;
}

@layer components {
  .sortable-ghost-dashed-border {
    @apply !border-primary !border !border-dashed ;
  }
}
