@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@layer components {
    .sortable-ghost-dashed-border {
        @apply border border-dashed border-red-500 rounded;
    }
}
