@tailwind base;
@tailwind components;
@tailwind utilities;

/* 为每个主题定义变量 */
html[data-theme="light"] {
  --primary: #5dabfe;
  --primary-hover: #3391ff;
  --bodyBg: #e6eaef;
  --contentBg: #f4f5f7;
  --cardBg: #ffffff;
  --dialogBg: #ffffff;
  --textPrimary: #333333;
  --textSecondary: #666666;
  --borderColor: #e6eaef;
  --scrollbarColor: #e6eaef;
  --hoverColor: #f4f5f7;
  --hoverShadow:
    rgba(135, 145, 155, 0.3) 0px 3px 8px 0px,
    rgba(135, 145, 155, 0.08) 0px 0px 0px 1px;
  --btnShadow:
    0 1px 2px 0 rgba(142, 149, 173, 0.64),
    0 0px 1px 1px rgba(142, 149, 173, 0.1),
    inset 1px 1px 1px 0 rgba(255, 255, 255, 0.81), inset -1px -1px 1px 0 #e2e4e9;
  --collectionShadow:
    rgba(135, 145, 155, 0.5) 0px 12px 12px 0px,
    rgba(171, 174, 181, 0.1) 0px 6px 12px 0px;
  --cardShadow:
    rgba(135, 145, 155, 0.2) 0px 3px 8px 0px,
    rgba(135, 145, 155, 0.08) 0px 0px 0px 1px;
}

html[data-theme="dark"] {
  --primary: #8acbec;
  --primary-hover: #70c0e8;
  --bodyBg: #0e1013;
  --contentBg: #18191b;
  --cardBg: #1f2123;
  --dialogBg: #272a2d;
  --textPrimary: #cbd5e1;
  --textSecondary: #94a3b8;
  --borderColor: #353f51;
  --hoverColor: #32363a;
  --scrollbarColor: #32363a;
  --hoverShadow:
    rgba(0, 0, 0, 0.9) 0px 3px 8px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
  --btnShadow:
    0 1px 2px 0 rgba(3, 4, 5, 0.64),
    inset 1px 1px 2px 0 rgba(154, 160, 164, 0.4), inset -1px -1px 2px 0 #2a2f34;
  --collectionShadow:
    rgba(0, 0, 0, 0.5) 0px 24px 24px -30px,
    rgba(0, 0, 0, 0.38) 0px 6px 12px -4px;
  --cardShadow:
    rgba(0, 0, 0, 0.2) 0px 3px 8px 0px, rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-thin:hover,
  .scrollbar-thin:active,
  .scrollbar-thin:focus {
    scrollbar-color: var(--scrollbarColor) transparent;
  }
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

body {
  overflow: hidden;
}

@layer components {
  .sortable-ghost-dashed-border {
    @apply !border !border-dashed !border-primary;
  }
}
