[data-theme='dark'] {
    --primary-color: #f65077;
    --darken-primary-color: #e54a6f;
}

:root:root {
    --primary: #8B5FBF;
    --darken-primary: #61398F;
    --body-background: #F5F3F7;
    --card-background: #E9E4ED;
    --text-primary: #4A4A4A;
    --text-secondary: #878787;
    --border-color: #ffffff;
}